<div class="welcome" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
  <mat-card fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
    <mat-card-title><a routerLink="/race-execution">Execute Race</a></mat-card-title>
    <mat-card-content>Start and conduct your race!</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Read more...</button>
      <button color="primary" mat-raised-button routerLink="/race-execution">Go...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
    <mat-card-title><a routerLink="/race-analysis">Analyse Race</a></mat-card-title>
    <mat-card-content>Animate and anylise your race.</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Read more...</button>
      <button color="primary" mat-raised-button routerLink="/race">Go...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
    <mat-card-title><a routerLink="/race">Races</a></mat-card-title>
    <mat-card-content>Plan, search and sign up for races.</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Read more...</button>
      <button color="primary" mat-raised-button routerLink="/race">Go...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
    <mat-card-title><a routerLink="/sailor">Sailors</a></mat-card-title>
    <mat-card-content>Register yourself and your boat</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Read more...</button>
      <button color="primary" mat-raised-button routerLink="/sailor">Go...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
    <mat-card-title><a routerLink="/yacht-club">Sailing Organizations</a></mat-card-title>
    <mat-card-content>Register your sailing organization.</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Read more...</button>
      <button color="primary" mat-raised-button routerLink="/yacht-club">Go...</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%">
    <mat-card-title><a routerLink="/boat-class">Boat Classes</a></mat-card-title>
    <mat-card-content>Define, search your boat type.</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Read more...</button>
      <button color="primary" mat-raised-button routerLink="/boat-class">Go...</button>
    </mat-card-actions>
  </mat-card>
</div>
