<div class="sailrc-home" fxLayout="row wrap" fxLayout.lt="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
  <mat-card fxFlex="0 1 calc(33.3% - 30px)" fxFlex.lt-md="0 1 calc(50% - 30px)" fxFlex.lt-sm="100%">
    <mat-card-title><a routerLink="/race-planning">Plan Race</a></mat-card-title>
    <mat-card-content>Plan, search and sign up for races.</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Read more...</button>
      <button color="primary" mat-raised-button routerLink="/race-planning">Go...</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="0 1 calc(33.3% - 30px)" fxFlex.lt-md="0 1 calc(50% - 30px)" fxFlex.lt-sm="100%">
    <mat-card-title><a routerLink="/race-conduction">Conduct Race</a></mat-card-title>
    <mat-card-content>Start and conduct your race!</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Read more...</button>
      <button color="primary" mat-raised-button routerLink="/race-conduction">Go...</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="0 1 calc(33.3% - 30px)" fxFlex.lt-md="0 1 calc(50% - 30px)" fxFlex.lt-sm="100%">
    <mat-card-title><a routerLink="/race-analysis">Analyse Race</a></mat-card-title>
    <mat-card-content>Animate and analyse your race.</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Read more...</button>
      <button color="primary" mat-raised-button routerLink="/race-analysis">Go...</button>
    </mat-card-actions>
  </mat-card>
</div>
