<mat-toolbar color="primary">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxShow="true" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start">
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <xng-breadcrumb></xng-breadcrumb>
  </div>
  <span class="header-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true" fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="( isAuth | async ) === false"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="( isAuth | async ) === false"><a routerLink="/login">Login</a></li>
      <li *ngIf="( isAuth | async )"><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
